@page "/Personas"
@page "/Personas/{PersonaId}:int"

@inject PersonasBLL PersonasBLL
@inject IToastService toast

@using BLL
@using Models

<div class="card-footer">
    <div class="form-group text-center" display: inline-block>
        <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">Nuevo</button>
        <button type="button" class="btn btn-lg btn-primary" @onclick="Guardar"></button>
        <button type="button" class="btn btn-lg btn-primary" @onclick="Eliminar">Eliminar</button>
    </div>

</div>

@code{
    [Parameter]
    public int PersonaId { get; set; }

    private Personas Persona = new Personas();

    protected override void OnInitialized()
    {
        //Nuevo();
    }

}

